mixin normalNav()
    nav.top-nav.darken-2.cyan
        .container
            .nav-wrapper
                a.brand-logo(href='/') ACGSounds
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='/')= __('Homepage')
                    li
                        a(href='/exp')= __('Experimental')
                    li
                        a(href='/user/upload')= __('Upload Sheets')
                    if user
                        li
                            a.dropdown-button(href='#', data-activates='dropdown1')
                                | #{__('Welcome, ') + user.username + '!'}
                        ul.dropdown-content#dropdown1
                            li
                                a(href='/user')= __('User Center')
                            li
                                a(href='/user/profile')= __('Profile Settings')
                            if user.admin || user.audit
                                li
                                    a(href='/audit') 审核系统
                            li.divider
                            li
                                a(href='/user/logout')= __('Logout')
                    else
                        li
                            a(href='/user/login')= __('Login')
