include util

extends layout

block content
    header
        +normalNav()
        #index-banner.section.no-pad-bot
            .container
                br
                br
                h1.header.center.orange-text= __('ACGSounds Sheets') + 'v0.0.4'
                .row.center
                    h5.header.col.s12.light= __('A Sheet Website Specially Designed for Transcribers.')
                .row
                    form.col.s6.offset-s3
                        .row
                            .input-field.col.s4
                                select
                                    option(value='0')= __('Default')
                                    option(value='1', disabled)= __('Melody')
                                label= __('Search Type')
                            .input-field.col.s8
                                input#searchInput(type='text', placeholder!=__('Enter related info (i.e. name, author)'))
                                label= __('Search Input')
                br
                .row.center
                    a(href='javascript:search()').btn.orange= __('Search')
    +normalFooter()

block script
    script.
        function search() {
            if ($('select').val() == '0') { // Default Search
                window.location.href = '/search/' + $('input#searchInput').val();
            } else {
                alert('developing');
            }
        }
        $(document).ready(function() {
            $('select').material_select();
            $('input').keyup(function(e) {
                if (e.keyCode == 10 || e.keyCode == 13) search();
            });
        });

