include util

extends layout

block content
    .row(style='margin-top: 100px')
        .col.s4.z-depth-4.card-panel.offset-s4
            form.login-form
                    .input-field.col.s12.center
                        h4= __('Login')
                        p.center= __('Login to your account now!')
                .row
                    .input-field.col.s12
                        i.mdi-social-person-outline.prefix
                        input#username(type='text', autocomplete='off', autocorrect='off')
                        label.center-align(for='username')= __('Username')
                    .input-field.col.s12
                        i.mdi-action-lock-outline.prefix
                        input#password(type='password', autocomplete="off")
                        label(for='password')= __('Password')
                    .input-field.col.s12
                        a#login.btn.waves-effect.waves-light.col.s12(href='javascript:login()')= __('Login Now')
                    .input-field.col.s12
                        p.center.medium-small.sign-up
                            | #{__('No account?')}
                            a(href='/user/register')= __('Register')

block script
    script(src='/javascripts/login.js')
    script.
        $(document).ready(function() {
            $('body').addClass('cyan');
            //$('body').addClass('lighten-2');
        });
