include util
extends layout

block content
    style.
        .thumb-up-btn {
            transition: color 0.5s;
        }
        .thumb-up-icon {
            transition: transform 0.5s;
            transform: scale(1, 1);
        }
        .thumb-popping {
            transform: scale(0.8, 0.8);
        }
    header
        +normalNav()
    .row
        .col.s4
            .row
                .col.s12
                    .card.blue-grey.darken-1(style='margin-bottom: 0')
                        .card-content.white-text
                            h6= sheet.sheetName
                            p 上传者：#{sheet.user.username}
                            p 标签：
                            p(style='font-size: 12px') 简介：#{sheet.sheetIntro.length > 100 ? sheet.sheetIntro.substr(0, 96) + '....' : sheet.sheetIntro}
                        .card-action
                            a(href!='http://7xr3so.com1.z0.glb.clouddn.com/' + sheet._id + '.mid') 下载 MIDI
                            a(href!='http://7xr3so.com1.z0.glb.clouddn.com/' + sheet._id + '.pdf') 下载 PDF
                            a(href='#') 下载 SIB
                .col.s12
                    .card(style='margin-bottom: 0')
                        .card-content
                            a(href!='javascript:MIDIjs.play(\'http://7xr3so.com1.z0.glb.clouddn.com/' + sheet._id + '.mid\')')
                                i.material-icons play_circle_filled
                            | &nbsp;&nbsp;
                            a(href='#', onClick='MIDIjs.stop()')
                                i.material-icons stop
                            .secondary-content
                                | MIDI 播放控制
                            .progress
                                .determinate
                            .secondary-content.grey-text
                                span#currentTime
                                |  / 
                                span#totalTime
                            br
                .col.s12
                    ul.collection#commentBox
                        .progress
                            .indeterminate
                        .row.center
                            | Loading...
                    if user
                        div.input-field
                            textarea.materialize-textarea(id='text-comment')
                            label(for='text-comment')
                                | Say something
                            a.waves-effect.waves-light.btn(id='btn-comment', style='width: 100%')
                                i.material-icons.left
                                    | navigation
                                | Send
        .col.s8
            object#pdf(data!='http://7xr3so.com1.z0.glb.clouddn.com/' + sheet._id + '.pdf', type='application/pdf', style='width: 100%; height: 600px')

        .template-1(style='display: none')
            li.collection-item.avatar(id='comment-display-{2}')
                img.circle(src='', alt='')
                a.title(href='/user/{0}') {0}
                p {1}
                p.right-align.grey-text {4}
                .secondary-content.grey-text(style='margin-right: 90px; margin-top: -10px') {2}#
                .secondary-content.grey-text(style='margin-right: 40px; margin-top: -10px', id='comment-likes-{2}') {3}
                a.secondary-content.teal-text.text-lighten-4.thumb-up-btn(id='comment-thumbup-{2}', href='javascript:likeComment({2});', style='margin-top: -10px')
                    i.material-icons.thumb-up-icon thumb_up

block script
    script(src='/javascripts/comment.js')
    script(src='/javascripts/midievents.js')
    script(src='/javascripts/midifile.js')
    script(src='http://7xr4a5.com1.z0.glb.clouddn.com/lib/midi.js')

    script.
        window.sheet_id = '#{sheet._id}';
        var parseTime = function (time) {
            var d = new Date('2000/1/1 00:00:00');
            d = new Date(d.getTime() + time * 1000);
            return d.Format('hh:mm:ss');
        }
        var read_array_buffer_async = function (url, callback) {
            var req = new XMLHttpRequest();
            req.open('GET', url, true);
            req.responseType = 'arraybuffer';
            req.onload = function (e) {
                var buf = req.response;
                if (buf) {
                    callback(buf);
                }
            };
            req.send(null);
        };
        var read_midi_events = function (url, callback) {
            read_array_buffer_async(url, function (buf) {
                var file = new MIDIFile(buf);
                var events = file.getEvents();
                var ret = [];
                for (var i = 0; i < events.length; ++i) {
                    if (events[i].type === MIDIEvents.EVENT_MIDI) {
                        if (events[i].subtype === MIDIEvents.EVENT_MIDI_NOTE_OFF) {
                            ret.push({
                                time: events[i].playTime,
                                is_on: 0,
                                pitch: events[i].param1,
                                vel: events[i].param2
                            });
                        } else if (events[i].subtype === MIDIEvents.EVENT_MIDI_NOTE_ON) {
                            ret.push({
                                time: events[i].playTime,
                                is_on: 1,
                                pitch: events[i].param1,
                                vel: events[i].param2
                            });
                        }
                    }
                }
                callback(events);
            });
        };
        function lengthParser(callback) {
            read_midi_events('http://7xr3so.com1.z0.glb.clouddn.com/#{sheet._id}.mid', function(data) {
                callback(Math.round(data[data.length - 1].playTime / 1000));
            });
        }
        function resize() {
            $('#pdf').css('height', window.innerHeight - Number(/\d+/.exec($('nav').css('height'))[0]) - 20 + 'px');
        }
        $(window).resize(resize);
        $(document).ready(function() {
            resize();
            lengthParser(function(length) {
                $('#currentTime').html(parseTime(0));
                $('#totalTime').html(parseTime(length));
                MIDIjs.message_callback = function(res) {
                    Materialize.toast(res, 2000);
                }
                MIDIjs.player_callback = function(res) {
                    $('#currentTime').html(parseTime(res.time));
                    $('.determinate').css('width', Math.floor(res.time * 100 / length) + '%');
                }
            });
        });
